
<title><% username %></title>

<h2><%= username %><br /></h2>
<h3><%= fname %> <%= lname %><br />
<%= email %></h3><br />
<table>
    <tr>
        <th><a href='/memos/<%=username%>'>Memos</a></th>
        <th><a href='/followers/<%=username%>'>Followers</a></th>
        <th><a href='/following/<%=username%>'>Following</a></th>
    </tr>
    <tr>
        <td><div id='myMemos'><%= nMemos %></div></td>
        <td><%= nFollowers %></td>
        <td><%= nFollowing %></td>
    </tr>

</table>


<center>
<%if(sessionHolder != username){
        if(following){ %>
            <a href='/unfollow/<%=username%>'>Unfollow</a>
        <% } else { %>
            <a href='/follow/<%=username%>'>Follow</a>
    <%}
}%>
</center>